/* #1CA7E7 */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#showcase{
    /* min-height: 450px; */
    color: #fff;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 55px;
    background: rgb(19, 111, 231);
}
.icons{
    display: flex;
    flex-direction: row;
    grid-column: 1/2;
}
label{
    margin: 0;
    padding: 0;
    text-align: right;
    right: 20px; 
    position: absolute;
    top: 7px;
    display: block;
    cursor: pointer;
}
i.fa{
    margin: 20px 10px 10px 30px;
    color: #fff;
    cursor: pointer;
}
i.fa:hover{
    color: black;
}


#menu a{
    display: block;
    text-decoration: none;
    color: #e8eef2b3;    
    line-height: 50px;
    text-align: left;
    width: 80%;
}
#menu a:hover{
    color: #ffffff;
}
input {
    display: none;
  }
label{
    /* margin: 0 40px 0 0; */
    font-size: 26px;
    line-height: 40px;
    font-size: 40px;
    color: white;
}
#menu{
    -webkit-transition: height .3s ease;
    height: 0;
    overflow: hidden;
    margin-left: 15px;
}
input:checked + #menu {
    height: 200px;
}
/* About Section */
section#about{
    background-color: #41A4F5;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    color: white;
}
img{
    max-width: 240px;
    max-height: 240px;
    margin-top: 3rem;
}
.personal-img, section#about .content-wrap{
    grid-column: 2/3;
}
.greeting{
    margin: 15px 0 5px 0;
    font-weight: 100;
}
.name{
    margin: 0 0 14px 0;
    font-size: 35px;
}
.description{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.3;
    margin: 0;
}